<% if(notes){%>
<ol>
  <% notes.forEach(note=>{%>
  <h2><%=note.title%></h2>
  <li>
    <img src="<%= note.image %>" />
    <p><%= notes.content %></p>
    <button onClick="">EDIT</button>
    <button onClick="">DELETE</button>
  </li>
  <% })%>
</ol>
<% } %>
