.popup {
  background-color: #6d726f;
  color: #fff;
  top: 20%;
  left: 10%;
  width: 500px;
  height: 300px;
  position: fixed;
  display: none;
}
#display {
  width: 100%;
  font-size: 14px;
  width: 90%;
  height: 65%;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 5%;
  text-align: justify;
}
.update {
  width: auto;
  padding: 10px;
  margin-left: 30%;
  color: #fff;
  border-radius: 5px;
  background-color: #0b66ee;
}
.close {
  width: auto;
  padding: 10px;
  margin-left: 10px;
  color: #fff;
  border-radius: 5px;
  background-color: #f31708;
}
